<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{product.create}" />
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{product.create}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{product.create}" /></a></li>
		</ol>
	</section>
</div>
<!-- CONTENT -->

<div layout:fragment="content">
	<section class="content">
		<div class="row">

			<!-- right column -->
			<div class="col-md-6">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							<span th:if="${isEdit}" th:text="#{product.edit}"></span> <span
								th:if="${isView}" th:text="#{product.view}"></span> <span
								th:if="${isCreate}" th:text="#{product.new}"></span>
						</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form class="form-horizontal">



						<div class="box-body">

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.name}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputName"
										placeholder="Name" th:readonly="${isView}"
										th:field="${product.name}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.desc}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputDesc"
										placeholder="Description" th:readonly="${isView}"
										th:field="${product.description}">
								</div>
							</div>




							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.category}" /></label>

								<div class="col-sm-10">
									<select  th:field="*{product}" type="text" class="form-control" id="inputCategory"
										placeholder="Category" th:readonly="${isView}">
										<option th:each="product: ${products}"
											th:value="${product.category}"></option>
									</select>

								</div>
							</div>




							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.value}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputValue"
										placeholder="Value" th:readonly="${isView}"
										th:field="${product.value}">
								</div>
							</div>



							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.quantity}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputQuantity"
										placeholder="Quantity" th:readonly="${isView}"
										th:field="${product.quantity}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{product.provider}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputProvider"
										placeholder="Provider" th:readonly="${isView}"
										th:field="${product.provider}">
								</div>
							</div>

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-default">
								<span th:text="#{product.cancel}" />
							</button>
							<button type="submit" class="btn btn-info pull-right">
								<span th:text="#{product.submit}" />
							</button>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
				<!-- /.box -->
				<!-- general form elements disabled -->

				<!-- /.box -->
			</div>
			<!--/.col (right) -->
		</div>
		<!-- /.row -->
		<div></div>
	</section>
</div>


<th:block layout:fragment="css-view">
	<link rel="stylesheet"
		type"text/css" href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css" />


</th:block>



<th:block layout:fragment="js-view">
	<script
		src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#example1').DataTable();
		});
	</script>
</th:block>



</html>



