<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{product.list}" />
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{product.list}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{product.list}" /></a></li>
		</ol>
	</section>
</div>


<!-- CONTENT -->
<div layout:fragment="content">
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">

				<!-- /.box -->

				<div class="box">
					<div class="box-body">
						<div id="example1_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">

							<div class="row">
								<div class="col-sm-12">
									<table id="example1"
										class="table table-bordered table-striped dataTable"
										role="grid" aria-describedby="example1_info">
										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0"
													aria-controls="example1" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Rendering engine: activate to sort column descending"
													style="width: 15px;"><span th:text="#{product.id}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending"
													style="width: 242px;"><span th:text="#{product.name}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending"
													style="width: 216px;"><span th:text="#{product.desc}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending"
													style="width: 169px;"><span
													th:text="#{product.category}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending"
													style="width: 123px;"><span th:text="#{product.value}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending"
													style="width: 123px;"><span
													th:text="#{product.quantity}" /></th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending"
													style="width: 169px;"><span
													th:text="#{product.provider}" /></th>
												<th style="width: 169px;"></th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" class="odd" th:each="product : ${products}">
												<td th:text="${product.id}"></td>
												<td th:text="${product.name}"></td>
												<td th:text="${product.description}"></td>
												<td th:text="${product.category}"></td>
												<td th:text="${product.value}"></td>
												<td th:text="${product.quantity}"></td>
												<td th:text="${product.provider.id}"></td>

												<td><a th:href="@{/product/edit/}+${product.id}"> <span
														class="badge" th:text="#{edit}" />
												</a> <a th:href="@{/product/delete/}+${product.id}"
													class="delete"> <span class="badge" th:text="#{delete}" />
												</a></td>

											</tr>

										</tbody>

									</table>
								</div>
							</div>

						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
</div>

<th:block layout:fragment="css-view">
	<link rel="stylesheet"
		type"text/css" href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css" />


</th:block>



<th:block layout:fragment="js-view">
	<script
		src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#example1').DataTable();
		});
	</script>
</th:block>



</html>



