<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{/layouts/main}">
<div layout:fragment="content">
    <form id="form_1099345" class="appnitro" method="post" th:action="@{/order/save}"
          th:object="${order}">

        <div class="form_description">
            <h2 th:text="${readonly}?#{order.view}:#{order.edit}"></h2>
        </div>
        <ul>

            <input id="element_0" name="element_0" type="hidden" value="" />

            <li id="li_1"><label class="description" for="element_1">Nome
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>
            <li id="li_1"><label class="description" for="element_1">Sobrenome
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Telefone
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_2"><label class="description" for="element_2">Email
            </label>
                <div>
                    <input id="element_2" name="element_2" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>
            <li id="li_1"><label class="description" for="element_1">CPF
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Rua
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Número
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Complemento
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Bairro
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Cidade
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li id="li_1"><label class="description" for="element_1">Estado
            </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium"
                           type="text" maxlength="255" value="" />
                </div></li>

            <li class="buttons"><input type="hidden" name="form_id"
                                       value="1099345" /> <input id="saveForm" class="button_text"
                                                                 type="submit" name="submit" value="Submit" /></li>
        </ul>
    </form>
</div>
</html>
