<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">

	<div layout:fragment="content">
		<form id="form_1099345" class="appnitro" method="post" th:action="@{/client/save}"
			th:object="${client}">
			
			<div class="form_description">
				<h2 th:if="${isEdit}" th:text="#{client.edit}"></h2>
				<h2 th:if="${isView}" th:text="#{client.view}"></h2>
				<h2 th:if="${isCreate}" th:text="#{client.create}"></h2>
			</div>
			<ul>

				<!-- Id hidden -->
				<input type="hidden" th:field="*{id}" />

				<!-- Name -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.name}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				<!-- Lastname -->	
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.lastName}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Phone -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.phone}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Email -->
				<li id="li_2"><label class="description" for="element_2" th:text="#{client.email}">
				</label>
					<div>
						<input id="element_2" name="element_2" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
					
				<!-- CPF -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.cpf}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Rua -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.street}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Number -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.streetNumber}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Complements -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.complements}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Neighborhood -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.neighborhood}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- City -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.city}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- State -->
				<li id="li_1"><label class="description" for="element_1" th:text="#{client.state}">
				</label>
					<div>
						<input id="element_1" name="element_1" class="element text medium"
							type="text" maxlength="255" value="" />
					</div></li>
				
				<!-- Submit -->
				<li class="buttons"><input type="hidden" name="form_id" /> 
					<input id="saveForm" class="button_text"
					type="submit" name="submit" th:value="#{client.submit}" /></li>
			</ul>
		</form>
	</div>


</html>
