<!DOCTYPE html>
<html layout:decorate="~{/layouts/main}">

	<div layout:fragment="content">
		<form id="form_1099345" class="appnitro" method="post" action="">
			<div class="form_description">
				<h2>Client List</h2>
				<p>This is your form description. Click here to edit.</p>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Email</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Full Name</td>
						<td>email@email.com</td>
						<td>Some description here</td>
						<td><a href="#">Delete</a>|<a href="#">Edit</a> </td>
					</tr>
					<tr>
						<td>2</td>
						<td>Full Name</td>
						<td>email@email.com</td>
						<td>Some description here</td>
						<td><a href="#">Delete</a>|<a href="#">Edit</a> </td>
					</tr>
					
				</tbody>
			</table>
			<br /> <a href="#">New</a>
		</form>
	</div>

</html>
