<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{user.title}" />
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1></h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{user.title}" /></a></li>
		</ol>
	</section>
</div>


<!-- CONTENT -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{user.title}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{user.create}" /></a></li>
		</ol>
	</section>
</div>
<!-- CONTENT -->

<div layout:fragment="content">
	<section class="content">
		<div class="row">

			<!-- right column -->
			<div class="col-md-6">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							<span th:if="${isEdit}" th:text="#{user.edit}"></span> <span
								  th:if="${isView}" th:text="#{user.view}"></span> <span
								  th:if="${isCreate}" th:text="#{user.new}"></span>
						</h3>
					</div>

					<!-- form start -->
					<form class="form-horizontal" method="post"
						th:action="@{/user/save}" th:object="${myuser}">

						<div class="box-body">

							<input type="hidden" id="userId" th:field="*{id}" />

							<div class="form-group">
								<label class="col-sm-2 control-label"> <span
									th:text="#{user.title}" />
								</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputName"
										placeholder="Name" th:disabled="${isEditable}"
										th:field="${myuser.username}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.role}" /></label>

								<div class="col-sm-10">
									<select multiple th:field="${myuser.roles}" type="text"
										class="form-control" id="inputRoles" placeholder="Roles">
										<option th:each="role: ${roles}" th:value="${role.id}"
											th:text="${role.role}"></option>
									</select>
								</div>

							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.name}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputName"
										placeholder="Value" th:disabled="${isView}"
										th:field="${myuser.name}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.email}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail"
										placeholder="Quantity" th:disabled="${isView}"
										th:field="${myuser.email}">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label"> <span
									th:text="#{user.skill}" />
								</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputSkill"
										placeholder="Name" th:disabled="${isView}"
										th:field="${myuser.skill}" />
								</div>
							</div>

						</div>

						<div class="box-footer">
							<button th:if="${isCreate}" type="submit"
								class="btn btn-info pull-right">
								<span th:text="#{user.submit}" />
							</button>
							<button th:if="${isEdit}" type="submit"
								class="btn btn-info pull-right">
								<span th:text="#{user.edit}" />
							</button>
						</div>
						<!-- /.box-footer -->


					</form>
				</div>
			</div>
		</div>
		<div></div>
	</section>
</div>

</html>

