<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{user.create}" />
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{user.create}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{user.create}" /></a></li>
		</ol>
	</section>
</div>


<!-- CONTENT -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{user.create}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{user.create}" /></a></li>
		</ol>
	</section>
</div>
<!-- CONTENT -->

<div layout:fragment="content">
	<section class="content">
		<div class="row">

			<!-- right column -->
			<div class="col-md-6">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							<span th:if="${isEdit}" th:text="#{user.edit}"></span> <span
								th:if="${isView}" th:text="#{user.view}"></span> <span
								th:if="${isCreate}" th:text="#{user.new}"></span>
						</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form class="form-horizontal" method="post"
						th:action="@{/user/save}" th:object="${myuser}">

						<div class="box-body">

							<input type="hidden" id="userId" th:field="*{id}" />

							<div class="form-group">
								<label class="col-sm-2 control-label"> <span th:text ="#{user.username}" />
								</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputName"
										placeholder="Name" th:readonly="${isView}"
										th:field="${myuser.username}" />
								</div>
							</div>
							
<!-- 							
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.password}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputDesc"
										placeholder="Description" th:readonly="${isView}"
										th:field="${myuser.password}" />
								</div>
							</div>
 -->
							
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.role}" /></label>
 
								<div class="col-sm-10">
									<select multiple th:field="${myuser.roles}" type="text" class="form-control" id="inputRoles" placeholder="Roles">
										<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.role}" 
										        ></option>
									</select>
								</div>
								
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.name}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputName"
										placeholder="Value" th:readonly="${isView}"
										th:field="${myuser.name}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.email}" /></label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail"
										placeholder="Quantity" th:readonly="${isView}"
										th:field="${myuser.email}">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									th:text="#{user.status}" /></label>
								<div class="col-sm-10">
									<select>
  										<option th:each="active : ${T(br.edu.ifrs.canoas.lds.webapp.domain.Status).values()}" 
  											    th:value="${active}" 
          										th:text="${active}">
          								</option>
									</select>
								</div>
							</div>

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-default">
								<span th:text="#{user.cancel}" />
							</button>
							<button th:if="${isCreate}" type="submit"
								class="btn btn-info pull-right">
								<span th:text="#{user.submit}" />
							</button>
							<button th:if="${isEdit}" type="submit"
								class="btn btn-info pull-right">
								<span th:text="#{user.edit}" />
							</button>

						</div>						<!-- /.box-footer -->


					</form>
				</div>
				<!-- /.box -->
				<!-- general form elements disabled -->

				<!-- /.box -->
			</div>
			<!--/.col (right) -->
		</div>
		<!-- /.row -->
		<div></div>
	</section>
</div>


<th:block layout:fragment="css-view">
	<link rel="stylesheet"
		type"text/css" href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css" />


</th:block>



<th:block layout:fragment="js-view">
	<script
		src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#example1').DataTable();
		});
	</script>
</th:block>



</html>

