<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{user.profile}" />
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{user.profile}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{user.profile}" /></a></li>
		</ol>
	</section>
</div>


<!-- CONTENT -->
<div layout:fragment="content">
	<!-- Main content -->

	<section class="content">

		<div class="box-body">
			<div id="example1_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap">

				<div class="row">
					<div class="col-sm-12">
						<table id="tabela_user"
							class="table table-bordered table-striped dataTable" role="grid"
							aria-describedby="example1_info">
							<thead>
								<tr role="row">
									<th th:text="#{user.id}" />
									<th th:text="#{user.title}" />
									<th th:text="#{user.purchaseStatus}" />
									<th th:text="#{user.name}" />
									<th th:text="#{user.email}" />
									<th th:text="#{user.role}" />
									<th><span></span></th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" th:each="myUser : ${myUsers}">

									<td><a href="#" th:href="@{|/user/view/${myUser.id}|}"><span
											th:text="${myUser.id}" /> </a></td>
									<td><a href="#" th:href="@{|/user/view/${myUser.id}|}"
										th:text="${myUser.username}" /></td>
									<td><a href="#" th:href="@{|/user/view/${myUser.id}|}"
										th:text="${myUser.purchaseStatus}" /></td>
									<td><a href="#" th:href="@{|/user/view/${myUser.id}|}"
										th:text="${myUser.name}" /></td>
									<td><a href="#" th:href="@{|/user/view/${myUser.id}|}"
										th:text="${myUser.email}" /></td>
									<td>
										<div th:each="role : ${myUser.roles}">
											<span th:text="${role.role}"></span>
										</div>
									</td>
									<td><a th:href="@{/user/edit/}+${myUser.id}"> <span
											class="badge" th:text="#{edit}" />
									</a> <a th:href="@{/user/delete/}+${myUser.id}" class="delete">
											<span class="badge" th:text="#{delete}" />
									</a></td>

								</tr>
							</tbody>

						</table>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>

<th:block layout:fragment="css-view">
	<link rel="stylesheet" type="text/css"
		href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css" />
</th:block>



<th:block layout:fragment="js-view">
	<script
		src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#tabela_user').DataTable();
		});
	</script>
</th:block>


</html>

